<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button class="navbar-toggler hidden-sm-up pull-sm-right" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    &#9776;
                </button>
            <a class="navbar-brand" href="index.html">EXOS CONTROL CO.</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-nav top-nav navbar-right pull-xs-right">


            <li class="dropdown nav-item">
                <a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="divider"></li>
                    <li class="dropdown-item">
                        <a href="/login"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-toggleable-sm navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav list-group">
                <li class="list-group-item">
                    <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li class="list-group-item">
                    <a href="#chart"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                </li>
                <li class="list-group-item">
                    <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
                </li>
                <li class="list-group-item">
                    <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        Dashboard <small>Statistics Overview</small>
                    </h1>

                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <div class="card card-primary card-inverse">
                        <div class="card-header card-primary">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-fire fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-xs-right">
                                    <div>ppm</div>
                                    <div class="huge">20</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer card-default">

                            <label class="switch pull-xs-right">
                                <input type="checkbox">
                            <div class="slider round" hidden></div>
                            </label>
                          <div class="clearfix"></div>

                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4">
                    <div class="card card-green card-inverse">
                        <div class="card-header card-green">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-asterisk fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-xs-right">
                                    <div class="huge">EXOS 1</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer card-green">

                            <label class="switch pull-xs-right">
                                <input type="checkbox">
                            <div class="slider round"></div>
                            </label>
                          <div class="clearfix"></div>

                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4">
                    <div class="card card-yellow card-inverse">
                        <div class="card-header card-yellow">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-asterisk fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-xs-right">
                                    <div class="huge">EXOS 2</div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer card-yellow">
                            <label class="switch pull-xs-right">
                                <input type="checkbox">
                            <div class="slider round"></div>
                            </label>
                          <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->

            <div id="chart" class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-default">
                            <i class="fa fa-bar-chart-o fa-fw"></i> CO Status Chart
                        </div>
                        <div class="card-block">
                            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [chartType]="lineChartType"
                                (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                            <div class="col-md-12 text-center" style="margin-top: 10px;height: 50%" hidden>
                                <button (click)="randomizeType()" style="display: inline-block">Toggle</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card card-default">
                        <div class="card-header card-default">
                            <i class="fa fa-calendar fa-fw"></i> Scheduling Task
                        </div>
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Task #</th>
                                            <th>Task Date</th>
                                            <th>Task Time</th>
                                            <th>Task Status </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>3326</td>
                                            <td>10/21/2013</td>
                                            <td>3:29 PM</td>
                                            <td>Success</td>
                                        </tr>
                                        <tr>
                                            <td>3325</td>
                                            <td>10/21/2013</td>
                                            <td>3:20 PM</td>
                                            <td>Success</td>
                                        </tr>
                                        <tr>
                                            <td>3324</td>
                                            <td>10/21/2013</td>
                                            <td>3:03 PM</td>
                                            <td>Success
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3323</td>
                                            <td>10/21/2013</td>
                                            <td>3:00 PM</td>
                                            <td>Failed</td>
                                        </tr>
                                        <tr>
                                            <td>3322</td>
                                            <td>10/21/2013</td>
                                            <td>2:49 PM</td>
                                            <td>Failed</td>
                                        </tr>
                                        <tr>
                                            <td>3321</td>
                                            <td>10/21/2013</td>
                                            <td>2:23 PM</td>
                                            <td>Success</td>
                                        </tr>
                                        <tr>
                                            <td>3320</td>
                                            <td>10/21/2013</td>
                                            <td>2:15 PM</td>
                                            <td>Success</td>
                                        </tr>
                                        <tr>
                                            <td>3319</td>
                                            <td>10/21/2013</td>
                                            <td>2:13 PM</td>
                                            <td>Seuccess</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-xs-right">
                                <a href="javascript:;">View All Scheduled Task <i class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
